.container {
  padding: 0.5em 0.5em;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 680px) {
  .container {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

mat-form-field {
  display: block;
  width: 300px;
}

button#submit {
  margin-top: 10px;
  display: block;
}