<div class="container">
  <div>
    <mat-card>
      <mat-form-field appearance="standard">
        <mat-label>standard Ethernet</mat-label>
        <mat-select [(ngModel)]="selectedEthernetStandard">
          <mat-option *ngFor="let option of standardEthernetOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>standard skrętki UTP</mat-label>
        <mat-select [(ngModel)]="selectedUtpStandard">
          <mat-option *ngFor="let option of standardUtpOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>ciąg wejściowy</mat-label>
        <mat-select [(ngModel)]="selectedGenerationMethod">
          <mat-option *ngFor="let opt of generationMethods" [value]="opt.value">{{ opt.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input step="10" type="number" matInput placeholder="długość ciągu wejściowego w bitach" [(ngModel)]="length">
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>

    </mat-card>
  </div>
  <div>
    <mat-card>
      Right card. <br> Here will be a preview chart. <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
      Długość ciągu w bitach: {{length}} <br>
      Ethernet: {{selectedEthernetStandard}} <br>
      UTP: {{selectedUtpStandard}} <br>
      And the generation method {{selectedGenerationMethod}} <br>
      
    </mat-card>
  </div>
</div>